<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">-->
<script src="https://kit.fontawesome.com/8001db0d7c.js" crossorigin="anonymous"></script>
<title>bbb</title>
</head>
<body>
    <div class="bigbox">
    <!-- LESSON: DIVs won't appear(their background colors at least)
    unless there is literally something inside the <div> tag-->
    <div id="search-div" class="main-content">
        <div id="search-bar" class="inside-search-left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p>Search for places</p>
        </div>

        <div class="inside-search-center">
            <img id="weather-image" src="../static/images/glass weather icons/Day/sunny.png">
        </div>

        <div class="inside-search-left">
            <p id="celsius-degree">12°C</p>
        </div>

        <div class="inside-search-left">
            <p id="day-time">Monday, 16:00</p>
        </div>

        <div class="inside-search-left little-info">
            <img class="small-weather-images" src="../static/images/3d solid weather icons/mcloudy.png">
            <p>Mostly Cloudy</p>
        </div>

        <div class="inside-search-left little-info">
            <img class="small-weather-images" src="../static/images/3d solid weather icons/Lrain.png">
            <p>Rain - 30%</p>
        </div>

        <div id="city-img-div" class="inside-search-center">
            <img src="../static/images/istockphoto-1406960186-612x612.jpg">
            <div class="text-overlay">
                <p>New York, NY, USA</p>
            </div>
        </div>
    </div>
    <div id="weather" class="main-content">ddd</div>
    </div>
</body>
</html>